.create-recipe-container {
  background-color: var(--color-light-pink);
  height: 75vh;
  width: 85vw;
  right: -85vw;
  position: fixed;
  top: 12vh;
  visibility: hidden;
  transition: visibility 1s, right 1s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 10px 10px 15px var(--color-dark);
}
.create-open {
  visibility: visible;
  width: 85vw;
  right: 7vw;
}
.create-content {
  width: 100%;
  height: 100%;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-content-container {
  width: 95%;
  height: 70%;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.create-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-green);
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 30%;
}
.create-title {
  text-align: center;
  font-family: var(--font-header);
  line-height: 65px;
  font-size: 4em;
  position: relative;
  top: -5px;
  color: var(--color-dark-green);
  text-shadow: var(--color-pink) 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
}
.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.create-form input {
  margin: 5px;
  font-family: var(--font-content);
  color: var(--color-dark-green);
  background-color: var(--color-light);
  border: 1.5px solid var(--color-pink);
  border-radius: 3px;
}
.create-form-ingredients {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.create-amount-ingredient-pair {
  display: flex;
  justify-content: center;
}
.amount {
  width: 20%;
}
.ingredients {
  width: 57%;
}
.form-name,
.form-garnish,
.form-instructions,
.form-glassware,
.form-history,
.form-category,
.form-flavor-profile {
  width: 80%;
}
.create-submit {
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  height: 5vh;
  width: 80%;
  font-family: var(--font-header);
  letter-spacing: 1px;
  background-color: var(--color-pink);
  color: var(--color-light-pink);
  transition: 0.5s;
}
.create-submit:hover {
  background-color: var(--color-dark-green);
}
.create-error {
  color: red;
  text-align: center;
  font-family: var(--font-content);
  font-size: 0.75em;
}

@media only screen and (min-width: 650px) {
  .create-recipe-container {
    max-width: 485px;
  }
  .create-open {
    visibility: visible;
    right: 20%;
  }
}

@media only screen and (min-width: 1030px) {
  .create-open {
    visibility: visible;
    right: 30%;
  }
}
