.header-container {
  background-color: var(--color-light-pink);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.nav-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-menu-container {
  background-color: var(--color-light-pink);
  position: fixed;
  border-radius: 0 0 20px 20px;
  z-index: 5;
  top: 10vh;
  left: 0;
  height: 0vh;
  width: 100vw;
  visibility: hidden;
  transition: visibility 0.7s, height 0.7s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.nav-is-open {
  visibility: visible;
  height: 40vh;
}
