.home-background {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.home-container {
  background-color: antiquewhite;
  height: 50vh;
  width: 80vw;
  left: -80vw;
  position: fixed;
  top: 10vh;
  visibility: hidden;
  transition: visibility 1s, left 1s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.home-open {
  visibility: visible;
  top: 25vh;
  left: 10vw;
  width: 80vw;
}
