.search-container {
  background-color: var(--color-pink);
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
}
.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipes-container {
  background-color: var(--color-pink);
  position: fixed;
  /* z-index: 1; */
  bottom: 10vh;
  height: 0vh;
  width: 100vw;
  visibility: hidden;
  transition: visibility 0.7s, height 0.7s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  overflow-x: hidden;
  overflow-y: auto;
}

.recipes-open {
  visibility: visible;
  height: 80vh;
}

.searchbar-input {
  background-color: var(--color-light-pink);
  border: none;
  color: var(--color-dark);
  font-family: var(--font-content);
  border-radius: 4px 0 0 4px;
  padding: 2px 10px;
  margin-left: -10px;
  width: 60%;
}
.searchbar-input:focus {
  border: 2px solid var(--color-light-green);
}

.submit-search-button {
  background-color: var(--color-light-green);
  color: var(--color-light-pink);
  border-radius: 0 5px 5px 0;
  border: none;
  padding: 10px 20px;
}
.submit-search-button:hover {
  background-color: var(--color-dark-green);
  color: var(--color-pink);
}
