.update-container {
  background-color: orange;
  position: fixed;
  /* z-index: 1; */
  bottom: 10vh;
  height: 0vh;
  width: 100vw;
  visibility: hidden;
  transition: visibility 0.7s, height 0.7s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  overflow-x: hidden;
  overflow-y: auto;
}

.update-open {
  visibility: visible;
  height: 50vh;
}
