.update-container {
  background-color: var(--color-light-pink);
  position: fixed;
  /* z-index: 1; */
  bottom: -50vh;
  height: 50vh;
  left: 0vh;
  width: 100vw;
  visibility: hidden;
  transition: visibility 0.7s, bottom 0.7s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.update-open {
  visibility: visible;
  bottom: 10vh;
}
.update-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -10px 20px rgba(42, 42, 42, 0.25);
}
.update-content {
  width: 95%;
  height: 43.5vh;
  /* position: relative; */
  margin-bottom: 10px;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
.update-title-container {
  background-color: var(--color-pink);
  border-radius: 15px 15px 0 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.update-title {
  font-family: var(--font-header);
  letter-spacing: 1px;
  color: var(--color-dark-green);
}
.update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
.update-form input {
  margin: 5px;
  font-family: var(--font-content);
  color: var(--color-dark-green);
  background-color: var(--color-light);
  border: 1.5px solid var(--color-pink);
  border-radius: 3px;
}
.update-ingredients-container {
  display: flex;
  flex-direction: column;
}
.amount-ingredient-pair {
  display: flex;
  justify-content: center;
}
.update-amount {
  width: 20%;
}
.update-ingredients {
  width: 57%;
}
.update-name,
.update-garnish,
.update-instructions,
.update-glassware,
.update-history,
.update-category,
.updateflavor-profile {
  width: 80%;
}
.update-submit {
  border: none;
  border-radius: 10px;
  margin-top: 25px;
  height: 5vh;
  width: 80%;
  font-family: var(--font-header);
  letter-spacing: 1px;
  background-color: var(--color-pink);
  color: var(--color-light-pink);
  transition: 0.5s;
}
.update-submit:hover {
  background-color: var(--color-dark-green);
}
.update-error {
  color: red;
  text-align: center;
  font-family: var(--font-content);
  font-size: 0.75em;
}
